<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>小迪AI MCP代码审计系统</title>
    <link href="../static/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
</head>
<body>
<script src="../static/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-1">
            <ul class="list-group">
                <li class="list-group-item"><a href="#">概要</a></li>
                <li class="list-group-item"><a href="#">项⽬列表</a></li>
                <li class="list-group-item"><a href="#">仓库列表</a></li>
                <li class="list-group-item"><a href="#">Code QL</a></li>
            </ul>
        </div>
        <div class="col-11">
            <table class="table">
                <thead>
                <tr>
                    <td>ID</td>
                    <td>规则ID</td>
                    <td>发现时间</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>xxxx Sql注⼊</td>
                    <td>2020-01-01 11:11:11</td>
                    <td>
                        <a href="#" class="btn btn-sm btn-outline-info">详情</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



</body>
</html>